<form class="search-form">
    <input type="text" class="form-control" name="query" id="searchQuery" placeholder="Поиск фильмов"
        autocomplete="off" />
    <p class="search-error is-hidden">
        Search result not successful. Enter the correct movie name and
    </p>
</form>