<ul class="team__list">
    {{#each this}}
    <li class="team__person">
        <a class="person__link" href="{{link}}">
            <div class="person__wrapper">
                <img class="person__img" src="{{image}}">
            </div>
            <div class="person__description">
                <h3 class="person__name">{{name}}<span class="notes">{{id}}</span></h3>

            </div>
        </a>
    </li>
    {{/each}}
</ul>