<header class="header-container">
  <div class="main-nav">
    <a href="./index.html" class="logo">Filmoteka</a>
    <input
      type="text"
      class="form-control"
      name="query"
      id="searchQuery"
      placeholder="Поиск фильмов"
      autocomplete="off"
    />
    <div class="menu-container" id="menu-container" data-menu>
      <nav>
        <ul class="site-nav">
          <li class="nav-item"><a href="" data-home>home</a></li>
          <li class="nav-item"><a href="" data-my-library>my library</a></li>
        </ul>
      </nav>
    </div>
  </div>
</header>
