.gallery {
  display: flex;
  flex-wrap: wrap;
  max-width: 1090px;
  padding: 60px 0;
  // margin: -30px;
  // margin-left: auto;
  // margin-right: auto;
}

.film-card {
  cursor: pointer;
  height: 440;
  margin-bottom: 30px;

  @include for-size(tablet) {
    width: calc((100% - 30px) / 2);

    &:not(:nth-child(2n)) {
      margin-right: 30px;
    }

    &:not(:nth-last-child(-n + 2)) {
      margin-bottom: 30px;
    }
  }

  @include for-size(desktop) {
    width: calc((100% - 30px * 3) / 4);

    &:not(:nth-child(4n)) {
      margin-right: 30px;
    }

    &:not(:nth-last-child(-n + 4)) {
      margin-bottom: 30px;
    }
  }
}

.film-img {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
}

.img-wrapper {
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 10px;
}

.film-title {
  @include font(500, 12px, 1.17);
  text-transform: uppercase;
  color: $dark-text-color;
}

.film-text.genre {
  @include font(500, 12px, 1.33);
  color: $accent-color;
}
