.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  &.is-hidden {
    display: none;
  }

  &__arrow-icon {
    width: 16px;
    height: 16px;
  }

  &__arrow-left,
  &__arrow-right {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    border: none;
    background-color: #f7f7f7;
    cursor: pointer;
    &:hover,
    &:focus .pagination__arrow-icon {
      transform: scale(1.1);
    }
  }

  &__list {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__item button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 5px;

    color: $dark-text-color;
    background-color: #ffffff;
    @include font(500, 12px, 1.33);
    cursor: pointer;
    &:hover,
    &:focus {
      @include font(500, 14px, 1.33);
    }
  }
  &__item.current button {
    background-color: $accent-color;
    color: $light-text-color;
  }
}

.library-pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  &.is-hidden {
    display: none;
  }

  &__arrow-left,
  &__arrow-right {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    border: none;
    background-color: #f7f7f7;
  }
  &__arrow-icon {
    width: 16px;
    height: 16px;
  }
  &__list {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__item button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border: none;
    color: $dark-text-color;
    background-color: #ffffff;
    @include font(500, 12px, 1.33);
    cursor: pointer;
  }
  &__item.--current button {
    background-color: $accent-color;
    color: $light-text-color;
  }
}
